.Conhecimento{
    display: none;
}

.Conhecimento.active{
    display: flex;
    flex-direction: column;
}

.ConhecimentosLinguisticos{
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 15vh 15vw 0 15vw;
}

.NavegarMaisMais{
    margin-top: 15vh;
    background-color: #020202;
    border-bottom: 2px solid white;
    color: white;
    font-size: 2vw;
}

.NavegarMaisMais:hover{
    animation-name: EsmaecerBotao;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}